@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 232 38% 19%;
    --foreground: 0 0% 98%;

    --card: 232 38% 22%;
    --card-foreground: 0 0% 98%;

    --popover: 232 38% 19%;
    --popover-foreground: 0 0% 98%;

    --primary: 273 31% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 232 38% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 232 38% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 196 48% 56%;
    --accent-foreground: 232 38% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 232 38% 28%;
    --input: 232 38% 28%;
    --ring: 196 48% 56%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 232 38% 19%;
    --foreground: 0 0% 98%;

    --card: 232 38% 22%;
    --card-foreground: 0 0% 98%;

    --popover: 232 38% 19%;
    --popover-foreground: 0 0% 98%;

    --primary: 273 31% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 232 38% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 232 38% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 196 48% 56%;
    --accent-foreground: 232 38% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 232 38% 28%;
    --input: 232 38% 28%;
    --ring: 196 48% 56%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
